# Testing

In [10]:
%load_ext autoreload
%autoreload 2

In [16]:
import pandas as pd

## Testing BVMF scrapping

In [13]:
from src.scrapping.bvmf import bvmf_scrap

In [14]:
test_dict = bvmf_scrap('21121')

In [17]:
pd.DataFrame(test_dict)

,ticker,activity,industry,ord_n,pre_n
0,SULA11,A Sul América S.A. É Uma Sociedade de Particip...,Financeiro / PrevidÃªncia e Seguros / Seguradoras,284417247,568834545
1,SULA3,A Sul América S.A. É Uma Sociedade de Particip...,Financeiro / PrevidÃªncia e Seguros / Seguradoras,284417247,568834545
2,SULA4,A Sul América S.A. É Uma Sociedade de Particip...,Financeiro / PrevidÃªncia e Seguros / Seguradoras,284417247,568834545
3,SULA11,A Sul América S.A. É Uma Sociedade de Particip...,Financeiro / PrevidÃªncia e Seguros / Seguradoras,284417247,568834545
4,SULA3,A Sul América S.A. É Uma Sociedade de Particip...,Financeiro / PrevidÃªncia e Seguros / Seguradoras,284417247,568834545